body {
  font-family: 'Arial', sans-serif;
  margin: 0px;
}

table {
  border-collapse: collapse;
  float: left;
  margin: 5px 0px 0px 5px;
}

td, th {
  border: 1px solid silver;
  padding: 0px 10px 0px 10px;
}

th, .icon {
  text-align: center;
}

.icon img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  padding: 2px 0px;
}
