@import url(https://fonts.googleapis.com/css?family=Jaldi);

body {
  font-family: 'Jaldi', 'Arial', sans-serif;
  margin: auto;
  padding: 0 5px;
  max-width: 400px;
}

table {
  border-collapse: collapse;
  vertical-align: top;
  border: 1px solid #3a75b1;
  margin: 5px 0;
  width: 100%;
}

td, th {
  padding: 0 5px 0 5px;
}

th {
  background-color: #3a75b1;
  color: white;
}

.icon img {
  width: 26px;
  height: 26px;
  vertical-align: middle;
  padding: 2px 0;
}

.loading {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.icon {
  width: 30%;
  text-align: center;
}

.name {
  width: 40%;
}

.version {
  width: 30%;
}
